<?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
        <menu>
          <add id="Chin_StockStatus::listing" title="Stock Status" translate="title" module="Chin_StockStatus" parent="Magento_Catalog::inventory" sortOrder="50" dependsOnModule="Chin_StockStatus" action="stockstatus/listing" resource="Chin_StockStatus::listing"/>
        </menu>
    </config>
  